@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../public/fonts/EthosNova-Regular.woff2") format(woff2);
  font-family: "EthosNova";
}

@layer utilities {
  html {
    @apply box-border overflow-x-hidden scroll-smooth scrollbar-thin scrollbar-track-black scrollbar-thumb-red;
  }

  body {
    @apply m-0 h-full w-full overflow-x-hidden bg-body p-0 text-white;
    font-family: "EthosNova", Arial, Helvetica, sans-serif;
  }

  label {
    @apply uppercase;
  }

  fieldset {
    @apply md:flex md:flex-col md:justify-center md:items-start grid grid-cols-3 gap-6 place-content-center;
  }

  .card-item {
    @apply flex items-center mb-2 list-none;
  }

  .card-item::before {
    @apply block mr-1 bg-check bg-center bg-no-repeat bg-[length:1.2rem] min-w-4 h-4 content-[''];
  }

  #training-headline {
    @apply flex items-center;
  }

  .headline {
    @apply text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl;
  }

  .subheadline {
    @apply text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl;
  }

  .plan {
    @apply flex flex-row justify-center items-center cursor-pointer text-xl lg:text-2xl 2xl:text-3xl font-black text-center md:text-left;
  }

  .selected-plan {
    @apply plan text-red underline decoration-4 underline-offset-8;
  }

  .unselected-plan {
    @apply hover:selected-plan plan text-white transition-all duration-300 ease-in-out;
  }

  .navbar {
    @apply fixed left-0 top-0 flex w-full items-center justify-around bg-black text-white py-4 lg:px-[10%] z-10;
  }

  .nav-item {
    @apply w-full text-white 2xl:text-2xl uppercase font-black transition-all ease-in-out hover:text-red duration-300;
  }

  .nav-button {
    @apply w-full text-white 2xl:text-2xl uppercase font-black ease-in-out hover:scale-110 duration-300 bg-red border rounded-[36px] border-red px-5 py-2;
  }

  .logo {
    @apply h-auto w-24 md:w-32 2xl:w-40;
  }

  .slick-slide {
    @apply box-border px-2;
  }
}

.slick-arrow:before {
  background: transparent !important;
  color: #de3a2f !important;
}
